<div class="modal-confirmation" *ngIf="visible">
  <div class="modal-confirmation__overlay" (click)="onCancel()"></div>
  <div class="modal-confirmation__container">
    <div class="modal-confirmation__content">
      <div class="modal-confirmation__content__icon">{{ icon }}</div>
      <h2 class="modal-confirmation__content__title">Confirmar acción</h2>
      <p class="modal-confirmation__content__message">{{ message }}</p>
    </div>
    <div class="modal-confirmation__actions">
      <button 
        class="modal-confirmation__actions__button modal-confirmation__actions__button--cancel"
        (click)="onCancel()"
      >
        Cancelar
      </button>
      <button 
        class="modal-confirmation__actions__button modal-confirmation__actions__button--confirm"
        [class.modal-confirmation__actions__button--confirm-danger]="type === 'danger'"
        (click)="onConfirm()"
      >
        Confirmar
      </button>
    </div>
  </div>
</div>
