<div class="app-page">
  <app-navbar></app-navbar>

  <div class="app-page__body">
    <app-sidebar></app-sidebar>

    <div class="app-page__content">
      <div class="page-header">
        <h1 class="page-header__title">Nuevo paciente</h1>
      </div>
      

      <main class="page-main flex flex-col gap-6">

        <!-- Stepper de registro -->
        <div class="stepper-container">
          <app-stepper
            [stepLabels]="stepLabels"
            [stepControls]="stepControls"
            (next)="onStepNext($event)"
            (previous)="onStepPrevious($event)"
            (finished)="onStepperFinished()">
          </app-stepper>
        </div>
        <!-- Contenido según paso actual -->
        @if (currentStep === 1) {
          <div class="w-full">
            <app-form-personal-data
            [isAgentRegistration]="true"
            (next)="onNextStep($event)"
            (cancel)="onCancelEdit()">
          </app-form-personal-data>
          </div>
        }

        @if (currentStep === 2) {
          <div class="profile-container w-full md:w-4/5 mx-auto">
            <app-form-summary
              [isAgentRegistration]="true"
              (next)="onNextStep($event)"
              (previous)="onPreviousStep()"
              (save)="onSaveSummary($event)"
              (cancel)="onCancelEdit()">
            </app-form-summary>
          </div>
        }

        @if (currentStep === 3) {
            <div class="w-full">
              <app-recommend-activities
                [isAgentRegistration]="true"
                (next)="onNextStep($event)"
                (previous)="onPreviousStep()"
                (register)="onRegisterPatient($event)">
              </app-recommend-activities>
            </div>
          }
      </main>
    </div>
  </div>
</div>
