<div class="input-group" [class.error]="control?.touched && control?.invalid">
  <label class="input-label" [attr.for]="name">
    {{ label }}
    <span *ngIf="required" class="required-indicator">*</span>
  </label>

  <select
    *ngIf="control"
    class="input-field"
    [id]="name"
    [formControl]="control"
    [multiple]="multiple"
    [disabled]="disabled"
    [attr.aria-invalid]="control.touched && control.invalid ? true : null"
    [attr.aria-describedby]="name + '-error'">
        <option value="null" class="placeholder-option">{{ placeholder }}</option>
    <option *ngFor="let o of options" [value]="asOption(o).value" [disabled]="asOption(o).disabled">
      {{ asOption(o).label }}
    </option>
  </select>

  <div *ngIf="control?.touched && control?.invalid" class="input-error" [id]="name + '-error'">
    <ng-container *ngIf="control?.errors?.['required']">Campo requerido</ng-container>
  </div>
</div>
