<aside class="sidebar">
  <nav class="sidebar__nav">
    <ul>
      <ng-container *ngFor="let item of sidebarItems">
        <li class="sidebar__item">
          <!-- Item principal -->
          <div class="sidebar__main-item"
               [class.expanded]="isExpanded(item)"
               [class.has-subsections]="item.subsections">
            <a *ngIf="!item.subsections; else parentLink"
               [routerLink]="item.url"
               routerLinkActive="selected"
               class="sidebar__link"
               (click)="selectItem(item.url)">
              <span class="sidebar__icon">
                <img [src]="item.icon" alt="icon" />
              </span>
              <span class="sidebar__label">
                {{ item.label }}
              </span>
            </a>

            <ng-template #parentLink>
              <div class="sidebar__link sidebar__link--parent"
                   (click)="toggleSubsections(item)">
                <span class="sidebar__icon">
                  <img [src]="item.icon" alt="icon" />
                </span>
                <span class="sidebar__label">
                  {{ item.label }}
                </span>
                <span class="sidebar__arrow" [class.rotated]="isExpanded(item)">
                  ›
                </span>
              </div>
            </ng-template>
          </div>

          <!-- Subsecciones -->
          <ng-container *ngIf="item.subsections">
            <ul class="sidebar__subsections" [class.expanded]="isExpanded(item)">
              <li *ngFor="let subsection of item.subsections" class="sidebar__subsection">
                <a [routerLink]="subsection.url"
                   routerLinkActive="selected"
                   class="sidebar__link sidebar__link--child"
                   (click)="selectItem(subsection.url)">
                  <span class="sidebar__label">
                    {{ subsection.label }}
                  </span>
                </a>
              </li>
            </ul>
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </nav>
</aside>
