@import '../../../styles/variables.scss';

.card-assistance {
  font-family: $font-family-base;

  h3 {
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    color: $text-color;
  }

  button {
    background-color: $color-primary-bold;

    &:hover {
      background-color: darken($color-primary-bold, 10%); // Un tono más oscuro del color primario
    }
  }

  // Responsive design
  @media (max-width: 768px) {
    .flex.items-start.justify-between {
      flex-direction: column;
      align-items: flex-start;
    }

    .flex.flex-col.items-end.ml-6 {
      margin-left: 0;
      margin-top: 1rem;
      align-items: flex-start;
    }
  }
}