<div class="notification-tabs">
  <mat-tab-group
    class="notification-tabs__group"
    [selectedIndex]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event.index)"
    animationDuration="300ms"
  >
    <mat-tab
      *ngFor="let tab of tabs"
      class="notification-tabs__group__tab"
    >
      <ng-template mat-tab-label>
        <div class="notification-tabs__group__tab__label">
          <div class="notification-tabs__group__tab__label__content">
            <span class="notification-tabs__group__tab__label__content__text">{{ tab.label }}</span>
            <span
              *ngIf="showCount && tabCounts[tab.value] && tabCounts[tab.value] > 0"
              class="notification-tabs__group__tab__label__content__count"
            >
              {{ tabCounts[tab.value] }}
            </span>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <!-- Indicador de total -->
  <div class="notification-tabs__summary" *ngIf="showSummary && showCount">
    <span class="notification-tabs__summary__text">
      Total pendientes: {{ getTotalCount() }}
    </span>
  </div>
</div>